{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 1000,
        "htmlWhitespaceSensitivity": "ignore",
        "arrowParens": "avoid",
        "singleQuote": true,
        "bracketSameLine": true,
        "proseWrap": "preserve"
      }
    }
  ]
}
