{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Realms Score Keeper</title>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script>
      const confirmedEvent = new Event('confirmed');
    </script>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body class="flex h-screen flex-col">
    <header id="header"></header>
    <div class="mx-auto flex w-[95%] flex-grow flex-col items-center md:w-2/3">
      <main class="mx-auto w-full">
        <!-- prettier-ignore -->
        {{ if gt (len .Players) 0 }} 
          {{ if eq .Current nil }} 
            {{ template "select-current" . }} 
          {{ else }} 
            {{ template "scoreboard" . }}  
          {{ end }} 
        {{ else }} 
          {{ template "new-game-form" }} 
        {{ end }}
        <!--  -->
      </main>
    </div>
  </body>
</html>
{{ end }}
