{{ define "new-game-form" }}
<form hx-post="/players" id="new-game-form" hx-target="main" hx-swap="innerHTML" class="content-container gap-4">
  <h2 class="text-xl tracking-wide text-white">Add players</h2>
  <div id="new-game-form__inputs-container" class="flex w-2/3 flex-col gap-3">
    <input class="input-txt" type="text" name="player0-name" id="player0-name" placeholder="Player1 Name" required />
    <input class="input-txt" type="text" name="player1-name" id="player1-name" placeholder="Player2 Name" required />
  </div>
  <div class="flex justify-center">
    <button class="btn" type="submit" id="new-game-form__button">Start Game</button>
  </div>
</form>
{{ end }}
