{{ define "select-current" }}
<form id="current-player_form" hx-post="current" hx-target="main" hx-swap="innerHTML" class="content-container gap-6">
  <h2 class="form-heading">Select first player</h2>
  <div class="flex gap-6 text-white">
    {{ range $i, $p := .Players }}
    <div>
      <input type="radio" name="player-radio" id="player{{$i}}-radio" value="{{ $i }}" required />
      <label class="text-lg text-white" for="player{{$i}}-radio">{{ $p.Name }}</label>
    </div>
    {{ end }}
  </div>
  <div class="flex w-full justify-around">
    <button class="btn" type="submit">Continue</button>
    <a class="btn bg-red-500" hx-put="/reset" hx-target="main">Reset</a>
  </div>
</form>
{{ end }}
